mat-card-title {
  color: goldenrod;
  text-decoration: underline;
  font-size: 1vw;
  margin-top: 10px;
}

div {
  color: rgb(3, 230, 238)
}

input {
  color: hotpink;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

h1 {
  text-align: center;
  color: aqua;
  font-size: 3vw;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

.mat-radio-group {
  display: flex;

  .mat-radio-button {
    flex: 1;
  }
}
